
body {
	background: #e9e9df top center repeat-y !important;
}
.container {
    background: #fff;
}
h1.title {
	height: 54px;
	cursor: pointer;
	background: #fff url(images/interfaithnews.net.jpg) no-repeat 0 0.5rem;
}
h1.title b {
	display: none;
}
a {
	color: #48b !important;
	text-decoration: none !important;
	border-bottom: 1px dotted #999;
}
a:visited {
	color: #000 !important;
}
a:hover {
	color: #009 !important;
	border-bottom: 1px solid #009;
}

.description {
	padding: 2px 20px 2px 20px;
	color: #fff;
	background-color: #366;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
#sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#sidebar ul li:before {
	content: "\00BB \0020";
}
.dead-link, .dead-link:hover {
    color: rgb(114, 114, 114) !important;
	border-bottom: 1px dotted #999;
}
.post {
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.75rem !important;
}
h3 {
    font-size: 1.25rem !important;
}
h4 {
    font-size: 1.1rem !important;
}
.author {
    font-weight: bold;
}
.postdate {
    margin-top: -1rem;
}
blockquote {
    margin-left: 1rem;
    border-left: 2px solid silver;
    padding-left: 1rem;
}
